apiVersion: v1
kind: Secret
metadata:
  name: okta-default-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "org_name": "",
      "base_url": "",
      "api_token": ""
    }
