apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "org_name": "springernature",
      "base_url": "oktapreview.com",
      "api_token": ""
    }
